numpy
scipy
matplotlib
scikit-image
colorcet
latticegen
xarray
dask
distributed
zarr
netcdf4
dask-image
ipywidgets
git+https://github.com/TAdeJong/moisan2011.git#egg=moisan2011
git+https://github.com/TAdeJong/pyGPA.git#egg=pyGPA
